<a href="https://colab.research.google.com/github/Rivaldop/metodologidatascience/blob/main/Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### DATA PREPARATION

Unduh Data : https://github.com/realpython/python-data-cleaning/blob/master/Datasets/BL-Flickr-Images-Book.csv

1. import library yang dibutuhkan

In [7]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
data = pd.read_csv('BL-Flickr-Images-Book.csv')
data.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [10]:
yg_dihapus = ['Edition Statment','Corporate Author']

In [17]:
df.drop(yg_dihapus, inplace=True, axis=1)

NameError: ignored

In [18]:
df.head()

NameError: ignored

In [26]:
df['Identifier'].is_unique

NameError: ignored

In [20]:
df = df.set_index('Identifier')

NameError: ignored

In [21]:
df.head()

NameError: ignored

In [22]:
df.loc[472]

NameError: ignored

3. merapikan fields

In [23]:
df.dtypes.value_counts()

NameError: ignored

In [24]:
df.loc[1905:,'Date of Publication'].head(15)

NameError: ignored

In [27]:
~ hilangkan tgl lain dalam kurung siku
~ hilangkan rentang tanggal
~ hilangkan tanggal yang gajelas[1897?]--> NaN
~ konversi NaN

SyntaxError: ignored

In [29]:
regex = (r'^(\d{4})

SyntaxError: ignored

In [30]:
ekstrak = df['Date of Publication'].str.extract(r'^(\d{4})',expand=False)

NameError: ignored

In [31]:
df.loc[667]

NameError: ignored

In [32]:
df.loc[4157862]

NameError: ignored

In [33]:
df['Place of Publication'].tail(15)

NameError: ignored

In [34]:
df.loc[4115138]

NameError: ignored

In [35]:
publikasi = df['Place od Publication']
london = publikasi.str.containts('london')
london[:5]

NameError: ignored

In [36]:
oxford = publikasi.str.containts ('Oxford')

NameError: ignored

In [37]:
df['Place od Publication'] = np where (london 'London', np where(oxford, 'Oxford', publikasi.str.replace ('-', ' ')))

SyntaxError: ignored

In [38]:
df['Place od Publication'].head(15)

NameError: ignored

####DATA SET BARU

5. membersihkan dataset dengan applymap

In [42]:
university_town = []
with open("university_towns.txt") as file:
  for line in file:
    if '[edit]'in line:
      state = line 
    else:
        university_town.append((state,line))
    university_town[:5]

In [43]:
df_kota = pd.DataFrame(university_town, columns=['State','RegionName'])
df_kota.head(15)

               State                                         RegionName
0    Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1    Alabama[edit]\n           Florence (University of North Alabama)\n
2    Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3    Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4    Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n
5    Alabama[edit]\n                        Troy (Troy University)[2]\n
6    Alabama[edit]\n  Tuscaloosa (University of Alabama, Stillman Co...
7    Alabama[edit]\n                Tuskegee (Tuskegee University)[5]\n
8     Alaska[edit]\n    Fairbanks (University of Alaska Fairbanks)[2]\n
9    Arizona[edit]\n       Flagstaff (Northern Arizona University)[6]\n
10   Arizona[edit]\n                 Tempe (Arizona State University)\n
11   Arizona[edit]\n                   Tucson (University of Arizona)\n
12  Arkansas[edit]\n  Arkadelphia (Henderson State University, Ouach...
13  Arkansas[edit]\n  Conway (Central Baptist College, Hendrix Colle...
14  Arkansas[edit]\n         Fayetteville (University of Arkansas)[7]\n

In [45]:
def get_citystate(item):
  if '(' in item:
      return item[:item.find('(')]
  elif '[' in item:
    return item[:item.find('[')]
  else:
      return item

In [46]:
df_kota = df_kota.applymap(get_citystate)

In [47]:
df_kota.head

<bound method NDFrame.head of          State      RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...             ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]>